
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pcoded-inner-content">

    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-muffin bg-c-blue card1-icon"></i>
                                <span class="text-c-blue f-w-600">Categories</span>
                                <h4>@Context.Session.GetInt32("CategoryCount")</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted"></span>
                                    <a href="@Url.Action("Category","Admin")"><i class="text-c-blue f-16 icofont icofont-eye-alt ml-10"></i>View Details</a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-fast-food bg-c-pink card1-icon"></i>
                                <span class="text-c-pink f-w-600">Products</span>
                                <h4>@Context.Session.GetInt32("ProductCount")</</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted"></span>
                                    <a href="@Url.Action("Product","Admin")"><i class="text-c-pink f-16 icofont icofont-eye-alt ml-10"></i>View Details</a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-cart bg-c-yellow card1-icon"></i>
                                <span class="text-c-yellow f-w-600">Total Orders</span>
                                <h4></</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted"></span>
                                    <a href="OrderStatus.aspx"><i class="text-c-yellow f-16 icofont icofont-eye-alt ml-10"></i>View Details</a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-fast-delivery bg-c-green card1-icon"></i>
                                <span class="text-c-green f-w-600">Deliverd Items</span>
                                <h4></</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted"></span>
                                    <a href="OrderStatus.aspx"><i class="text-c-green f-16 icofont icofont-eye-alt ml-10"></i>View Details</a>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-delivery-time bg-c-pink card1-icon"></i>
                                <span class="text-c-pink f-w-600">Pending Items</span>
                                <h4></</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted"></span>
                                    <a href="OrderStatus.aspx"><i class="text-c-red f-16 icofont icofont-eye-alt ml-10"></i>View Details</a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-users-social bg-c-green card1-icon"></i>
                                <span class="text-c-green f-w-600">Users</span>
                                <h4></</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted"></span>
                                    <a href="Users.aspx"><i class="text-c-green f-16 icofont icofont-eye-alt ml-10"></i>View Details</a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-money-bag bg-c-yellow card1-icon"></i>
                                <span class="text-c-yellow f-w-600">Sold Ammount</span>
                                <h4></</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted"></span>
                                    <a href="Report.aspx"><i class="text-c-yellow f-16 icofont icofont-eye-alt ml-10"></i>View Details</a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-support-faq bg-c-green card1-icon"></i>
                                <span class="text-c-green f-w-600">Feedbacks</span>
                                <h4></</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted"></span>
                                    <a href="Contacts.aspx"><i class="text-c-green f-16 icofont icofont-eye-alt ml-10"></i>View Details</a>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

