
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="pcoded-inner-content pt-0">
    <div class="align-align-self-end">
        <label id="lblMsg" style="display:none;"></label>
    </div>
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-block">
                                <div class="row">

                                    <div class="col-12 mobile-inputs">
                                        <h4 class="sub-title">Users Lists</h4>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table data-table-export table-hover nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th class="table-plus">SrNo</th>
                                                            <th>Full Name</th>
                                                            <th>Username</th>
                                                            <th>Email</th>
                                                            <th>Joined Date</th>
                                                            <th class="datatable-nosort">Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- User data will be dynamically populated here -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

