@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head runat="server">
    <script src="~/Javascript/Login.js"></script>
    @*<link rel="stylesheet" type="text/css" href="~/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.mCustomScrollbar.css">

    <script type="text/javascript" src="~/js/jquery/jquery.min.js"></script>*@


    <link rel="stylesheet" type="text/css" href="~/Files/css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="~/Files/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="~/Files/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="~/Files/css/responsive.css" rel="stylesheet" />
     <!-- jQery -->
  <script src="~/Files/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <div class="align-self-end">
                <label id="lblMsg"></label>
            </div>
            <h2>Login</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <img id="userLogin" src="~/Images/login2.jpg" alt="" class="img-thumbnail" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form_container">
                    <div>
                        <input style="margin-top: 20px"  asp type="text" id="txtUsername" placeholder="Enter Username" class="form-control" required/>
                        <span id="rvfUsername" style="color: red; visibility : hidden;"></span>
                    </div>
                    <div>
                        <input type="password" style="margin-top: 40px" id="txtPassword" placeholder="Enter Password" class="form-control" required />
                        <span id="rvfPassword" style="color: red; visibility: hidden ;"></span>
                    </div>
                    <div class="btn_box" style="margin-top: 20px">
                        <button type="button" id="btnLogin" class="btn btn-success rounded-pill pl-4 pr-4 text-white" onclick="btnLogin_Click()">Login</button>
                            <span class="pl-3 text-info">New User ? <a style="background-color: #17a2b8; color: white" asp-action="RegisterIndex" asp-controller="Login" class="badge badge-info">Register Here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
